@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: rgb(0, 0, 0) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

.toggle.active {
  background: rgb(0, 0, 0) url(../images/cancel.png);
  border-radius: 100px;
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding: 100px;
  min-height: 100vh;
}

.banner {
  position: relative;
  width: 100%;
  min-width: 100vh;
}

.banner .imgSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

.banner .imgSidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner .content,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #333;
  color: white;
}

.banner .content h2 {
  font-size: 1.5em;
  color: #333;
  line-height: 1em;
}

p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

.btn {
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
}
h4 {
  color: blue;
}

.sidebar {
  position: fixed;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -100%;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sidebar ul li a:hover {
  color: #00bcd4;
}

.social {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  margin-right: 10px;
  list-style: none;
}

.social li img {
  transform: scale(0.5);
  opacity: 0.7;
  width: 55px;
}

.social li img:hover {
  transform: scale(1);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .banner .imgSidebar {
    display: none;
  }
  .banner .content,
  .sidebar {
    padding: 40px;
    width: 100%;
    display: inline;
  }
  section {
    padding: 40px 10px;
  }
  .banner .content {
    display: contents;
  }
  .banner .content h2 {
    font-size: 20px;
    padding-top: 40px;
    left: 10px;
  }
  .toggle {
    right: 40px;
    position: fixed;
    top: 30px;
  }
  .social {
    left: 40px;
    position: relative;
    padding-top: 10px;
  }

  p {
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin-top: 1px;
  }
  .banner {
    min-width: 0;
  }
  .social li a img {
    top: 50px;
  }
}

/* Contact Form */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #0d6efd;
}
.wrapper {
  width: 720px;
  background: #fff;
  border-radius: 5px;
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper form {
  margin: 35px 30px;
}

form .db-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.db-field .field {
  position: relative;
  height: 50px;
  width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  border: 1px solid #bfbfbf;
  font-size: 16px;
  border-radius: 5px;
}
form .field input::placeholder,
form .message textarea::placeholder {
  color: #bfbfbf;
}

form .field input:focus,
form .message textarea:focus {
  border: 2px solid #0d6efd;
}

.wrapper form i {
  position: absolute;
  color: #bfbfbf;
  left: 18px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
}

form .message {
  top: 30px;
  font-size: 20px;
}

form .message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15px 20px 0 48px;
}

form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.button-area button {
  padding: 13px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #0d6efd;
}

.button-area span {
  color: #0d6efd;
  margin-left: 30px;
  display: none;
}

@media (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }
  form .db-field {
    margin-bottom: 0;
    flex-direction: column;
  }
  .db-field .field {
    width: 100%;
    margin-bottom: 20px;
  }
  .button-area button {
    width: 100%;
  }
  form .button-area {
    flex-direction: column;
  }
  .button-area span {
    text-align: center;
    margin: 20px 0;
  }
  form .message textarea {
    resize: none;
  }
}
